!!!
%html
  %head
    %title Skullpiece
    %link{ rel: 'stylesheet', href: '/styles/lib/bootstrap.css', type: 'text/css' }
    %link{ rel: 'stylesheet', href: '/styles/lib/bootstrap-responsive.css', type: 'text/css' }
    %script{ type: 'text/javascript', src: '/scripts/src/jquery.js' }
    %script{ type: 'text/javascript', src: '/scripts/src/underscore.js' }
    %script{ type: 'text/javascript', src: '/scripts/src/backbone.js' }
    %script{ type: 'text/javascript', src: '/scripts/src/bootstrap.js' }
  %body
    .container= yield